.block {
    display: block;
}
html, body {
    position: relative;
  }
.swiper-container {
    height: auto;
    width: auto;
}
.swiper-slide {
    height:auto;
}

#filter {
    font-size : 10px;
}

#filter h6 {
    font-size : 14px;
}

.chart h2 {
    font-size : 20px;
    text-align: center;
}

.chart h4 {
    font-size: 18px;
    text-align: center;
    color: gray;
}