.block {
    display: block;
}
html, body {
    position: relative;
  }
.swiper-container {
    height: auto;
    width: auto;
}
.swiper-slide {
    height:auto;
}

.swiper-slide-pic {
    height:400px;
    display: block;
    margin-left:auto;
    margin-right:auto;
}

.infoCircle {
    display: flex;
    align-items: center;
    justify-content: center;
}

#filter {
    font-size : 12px;
    outline: black;
    border: 2px lightgrey;
    outline-width: 5px;
    outline-style: double;
    text-align: center;
    position: relative;
    top: 2%;
    padding-bottom: 4%;
}

.chartrow {
    padding-top: 1%;
}

.radio {
    text-align: left;
    margin-left: 28%;
}

#filter h6 {
    font-size : 14px;
}

.info {
    border-color: black;
    border-width: 2px;
    border-style: solid;
}

.chart h2 {
    font-size : 20px;
    text-align: center;
}

.chart h4 {
    font-size: 18px;
    text-align: center;
}

.top h2 {
    font-size: 18px;
    font-weight: bold;
    display: inline
}

.top {
    font-size: 16px;
}

.third h2{
    font-size: 16px;
    font-weight: bold;
    display: inline
}