<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Test</title>


  <!-- Swiper -->
  <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.css">
  <script src="https://unpkg.com/swiper/js/swiper.js"></script>

  <!-- bootstrapcdn -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
</head>
<body>
  <!-- <div class="swiper-container">
    <div class="swiper-wrapper">
      </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-scrollbar"></div>
  </div> -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <div class="charts">

      </div>
    </div>
    <div class="col-md-9">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-scrollbar"></div>
      </div>
    </div>
    <div class="col-md-3">
      <div id="filter">
        <img src="images/electrode.jpg" alt="PLACEHOLDER (LOGO?)" width="60%"/>
        <br>
        <form id="Time">
          <h6>Game Length</h6>
          <div><input type='radio' value="30" name="time">About half an hour</input></div>
          <div><input type='radio' value="60" name="time">About an hour</input></div>
          <div><input type='radio' value="120" name="time">Close to two hours</input></div>
          <div><input type='radio' value="240" name="time">Four hours</input></div>
          <div><input type='radio' value="300" name="time">Might take all day</input></div>
        </form>
        <br>
        <h6>Number of Players</h6>
        <select id="numPlayers">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">6+</option>
        </select>
        <br><br>
        <h6>Minimum Recommended Age</h6>
        <select id="minAge">
          <option value="0">Unlisted</option>
          <option value="4">4</option>
          <option value="6">6</option>
          <option value="8">8</option>
          <option value="10">10</option>
          <option value="12">12</option>
          <option value="14">14</option>
          <option value="16">16</option>
          <option value="18">18+</option>
        </select>
        <br><br>
        <h6>Minimum Rating</h6>
        <form>
          <input type="text" id="rating">
        </form>
        <br>
        <button id="filter-button" type="button">Filter</button>
      </div>
    </div>
    <div class="col-md-6">
          <div class="swiper-container">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">Slide 1</div>
                <div class="swiper-slide">Slide 2</div>
                <div class="swiper-slide">Slide 3</div>
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>
        
            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        
            <!-- If we need scrollbar -->
            <div class="swiper-scrollbar"></div>
        </div>
      </div>
    <div class="col-md-3">
      <div class="charts">

      </div>
    </div>
  </div>
</div>
  <!-- Our CSS -->
  <link rel="stylesheet href="style.css">

  <!-- D3 -->
  <script src="https://d3js.org/d3.v5.min.js"></script>

  <!-- Our JavaScript -->
  <script type="text/javascript" src="/scripts/app.js"></script>
</body>

</html>