<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Test</title>


  <!-- Swiper -->
  <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.css">
  <script src="https://unpkg.com/swiper/js/swiper.js"></script>

  <!-- bootstrapcdn -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container-fluid"
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="charts">

      </div>
    </div>
    <div class="col-md-9">
      <div class="row">
          <div class="swiper-container">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">Slide 1</div>
                <div class="swiper-slide">Slide 2</div>
                <div class="swiper-slide">Slide 3</div>
                ...
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>
        
            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        
            <!-- If we need scrollbar -->
            <div class="swiper-scrollbar"></div>
        </div>
      </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="query">

      </div>
    </div>
  </div>
</div>
  <!-- The div that holds our map -->
  <div id="filter-radio"></div>

  <!-- D3 -->
  <script src="https://d3js.org/d3.v5.min.js"></script>

  <!-- Our JavaScript -->
  <script type="text/javascript" src="/scripts/app.js"></script>
</body>

</html>